  <div class="container contentwrapper privacy">
   <h3>Políticas de Privacidad</h3>
   <p>Bienvenido a Claseteca, un lugar para encontrar clases interesantes para personas curiosas. Al entrar al sitio www.claseteca.com, estás aceptando las Políticas de Privacidad descritas aquí a continuación. Si no estás de acuerdo en alguna de estas Políticas, no deberías usar el servicio.</p>

<p>Claseteca se reserva el derecho de modificar estas Políticas de Privacidad en cualquier momento a su parecer. Al entrar al sitio en cualquier momento después de hechas las modificaciones, estarás aceptando las mismas. Estas Políticas de Privacidad fueron modificadas por última vez el 22 de Octubre del 2012.</p>

<p>La privacidad de tu información es importante para nosotros, de esta manera hemos desarrollado estas Políticas de Privacidad para que entiendas cómo recolectamos, usamos y comunicamos el uso de tu información.</p>

   <ol>
      <li>Los datos que publiques deben ser los correctos, cualquier error es responsabilidad del maestro y/o alumno.</li>
      <li>Los datos personales que se ingresen en Claseteca, serán de uso exclusivo para el servicio de esta plataforma.</li>
      <li>Claseteca puede ceder información al maestro como el nombre del alumno, con el único objetivo de coordinar la logística y el acceso a su clase.</li>
      <li>Todo maestro que haga uso de la plataforma Claseteca se compromete a no abusar de la información otorgada por el servicio. Caso contrario, el maestro puede ser amonestado y/o expulsado de la plataforma.</li>
      <li>Claseteca no se hace responsable del uso de los datos ingresados en las plataformas de PayPal y/o DineroMail, esta información es sujeta a la Política de Privacidad de los servicios antes mencionados.</li>
      <li>Toda información personal y/o contenido que se ingrese en las áreas públicas de la página (Comentarios de Facebook) se convierte en dominio público y puede ser recolectada y usada por otros usuarios ajenos al servicio Claseteca. Te recomendamos tener precaución con la información cedida en estas áreas.</li>
      <li>La página www.claseteca.com  puede contener ligas a otras páginas de internet o servicios, no nos hacemos reponsables por las Políticas de Privacidad y/o contenido de dichos servicios. Te sugerimos las revises previo a ceder información en éstos.</li>
   </ol>
</div>

