<div class="container contentwrapper terms">
<h2>Términos y Condiciones</h2>

<p>Bienvenido a Claseteca un lugar para encontrar clases interesantes para personas curiosas. Al accesar el sitio www.claseteca.com, estás aceptando los términos y condiciones descritos aquí debajo. Si no estás de acuerdo en ninguno de estos términos, no deberías de usar el servicio.</p>

<p>Claseteca puede modificar estos Términos y Condiciones en cualquier momento a su parecer. Al accesar al sitio en cualquier tiempo después de hechas las modificaciones, estás aceptando las mismas. Estos términos y condiciones fueron modificadas por última vez el 22 de octubre de 2012.</p>

<h2>Descripción del Servicio</h2>

<p>Claseteca es una plataforma que conecta clases interesantes para personas curiosas en tu ciudad. Las clases se llevan a cabo de manera presencial por maestros de tu comunidad que tienen habilidades y/o conocimientos por compartir.</p>
<p>Utilizamos herramientas en línea para recibir, administrar y gestionar los pagos entre alumnos y maestros como PayPal y DineroMail. Estos servicios son ajenos a Claseteca.</p>

<p>Al hacer uso de la plataforma Claseteca, ya sea publicando una clase o siendo parte del alumnado, estás declarando haber leído y aceptado lo términos y condiciones descritos a continuación.</p>

<h2>Conducta en el Servicio</h2>

<p>Claseteca se reserva el derecho de editar o eliminar cualquier publicación que considere obscena, ofensiva, agresiva o pornográfica dentro del servicio.</p>
<p>Claseteca no se hace responsable por cualquier publicación que el “usuario” considere que afecte su integridad como persona o marca.</p>


<h2>Reglas para Alumnos</h2>

<p>Al usar el servicio de Claseteca, estás aceptando que tu conducta dentro del mismo será apegada a los términos aquí descritos.</p>
<p>El alumno se compromete a hacer el pago completo de la clase a través de la página y mediante las herramientas en línea aquí descritas.</p>
<p>Ningún alumno será admitido en las clases sin comprobante impreso de pago o cuyo nombre no aparezca en la lista de alumnos con boleto pagado.</p>
<p>El alumno afirma que asistirá a la clase únicamente por motivos de  aprender y no para copiar aprendizaje y no para copiar técnicas de estudio, materiales o truncar relaciones entre algún maestro y alumno.</p>
<p>Todo alumno se comprometerá a respetar tanto al maestro como a sus compañeros de clase y llevar una relación cordial.</p>
</p>Claseteca no se involucra dentro del desarrollo de la clase, por lo que no se hace responsable del contenido compartido por el maestro.</p>
<p>Como participante de cada clase, nos das derecho a encuestarte al final de la misma para evaluar el desempeño del maestro y la organización de la clase. Así mismo, nos das permiso de ocupar tus comentarios para publicarlos dentro de cualquiera de los medios de comunicación de Claseteca.</p>
<p>Todo alumno que cancele su participación a la clase, debe de avisar con mínimo 48 horas de anticipación e informar hola @claseteca.com para poder hacer su reembolso. Pasado este tiempo, el boleto solo puede ser transferible con previo aviso.</p>
</p>Si durante los primeros 30 minutos de la clase no se han cumplido tus expectativas, te invitamos a otra clase Claseteca para dejarte un buen sabor de boca. Mándanos un correo a hola@claseteca.com para agendarla.</p>

<p>Al participar como alumno en una clase, aceptas que participas bajo tu propio riesgo. Así mismo, liberas a Claseteca de cualquier daño o perjuicio hacia tu persona que pudiera resultar de la clase y/o el lugar donde se ofrece.</p>

</p>Claseteca no asume ninguna responsabilidad por daños, pérdidas, demandas, o daños especiales tanto directos como indirectos de cualquier tipo que surja de alguna manera relacionada con la visita del alumno al lugar donde se ofrece la clase.</p>


<h2>Reglas para el maestro</h2>

<p>Al hacer uso del servicio Claseteca estas aceptando tener el conocimiento y habilidades necesarias para compartirlo con la comunidad.</p>
<p>Al tener publicada tu clase en Claseteca das el consentimiento para que hagamos publicidad de la misma en nuestros medios. Así mismo, aceptas que podamos hacer edición de los textos y fotografías que nos compartas a nuestra conveniencia.</p>
<p>Como maestro, te comprometes a mantener un ambiente sano y de cordialidad dentro de cada una de tus clases. En caso contrario, te expones a ser amonestado y/o expulsado del servicio Claseteca.</p>
<p>Al tener tu clase publicada en Claseteca, aceptas y  estás de acuerdo en el esquema de pago previamente acordado que Claseteca tomará del 25% del valor de cada boleto vendido.</p>

<p>Así mismo aceptas que el pago a maestro será efectuado vía DineroMail y/o PayPal y se llevará a cabo en un periodo no mayor a 48 horas terminada tu clase.

Aceptas que Claseteca evalúe tu desempeño mediante encuestas, las cuales servirán para premiar, amonestar o incluso expulsar al maestro del servicio.</p>
<p>Como maestro, te comprometes a no hacer uso indebido de la información proporcionada por alumnos dentro y fuera de la clase.</p>
<p>Todo maestro que cancele su clase, deberá de avisar con mínimo 5 días de anticipación e informar a hola@claseteca.com. Pasado este tiempo, Claseteca se reserva el derecho de publicar más clases de este maestro.</p>
<p>Al participar como maestro en una clase, aceptas que participas bajo tu propio riesgo. Así mismo, liberas a Claseteca de cualquier daño o perjuicio hacia tu persona que pudiera resultar de la clase y/o el lugar donde se ofrece.</p>


<p>Claseteca no asume ninguna responsabilidad por daños, pérdidas, demandas, o daños especiales tanto directos como indirectos de cualquier tipo que surja de alguna manera relacionada con la visita del maestro al lugar donde se ofrece la clase.</p>

<h2>Pagos</h2>

<h3>Alumnos:</h3>

<p>Utilizamos DineroMail y PayPal como plataformas para recibir los pagos de cada clase, estos servicios son ajenos a Claseteca, por lo que no nos hacemos responsables por la información cedida a estos.</p>

<h3>Maestros:</h3>

<p>Los pagos de cada clase se realizaran vía PayPal o DineroMail  y se llevarán a cabo en un periodo no mayor a 48 horas terminada tu clase.i</p>
<p>El pago al maestro se hará bajo la siguiente fórmula: (# de boletos vendidos por clase x Precio por boleto)*.75  obedeciendo a que Claseteca toma su comisión del 25%</p>
