<div class="container">
  <div class="center hero-unit">
    <h1>Acerca de Kaleydoscopio</h1>
    <h2>
      Conoce los
      <a href="#">Beneficios</a>
      version de Desarrollo
    </h2>
  </div>


</div>
<div class="span5">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <h3>Ofertantes</h3>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </a>
    </li>
    <li>
      <a href="#">
        Morbi fermentum auctor lorem, et rutrum lacus adipiscing rutrum.
      </a>
    </li>
    <li>
      <a href="#">
        Phasellus eget tellus malesuada lorem tempor molestie eget nec mi.
      </a>
    </li>
    <li>
      <a href="#">
        Suspendisse posuere massa in nunc sodales mollis.
      </a>
    </li>
    <li>
      <a href="#">
        Proin at velit turpis, quis ornare metus.
      </a>
    </li>

  </ul>
</div>
<div class="span5">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <h3>Demandantes</h3>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </a>
    </li>
    <li>
      <a href="#">
        Morbi fermentum auctor lorem, et rutrum lacus adipiscing rutrum.
      </a>
    </li>
    <li>
      <a href="#">
        Phasellus eget tellus malesuada lorem tempor molestie eget nec mi.
      </a>
    </li>
    <li>
      <a href="#">
        Suspendisse posuere massa in nunc sodales mollis.
      </a>
    </li>
    <li>
      <a href="#">
        Proin at velit turpis, quis ornare metus.
      </a>
    </li>

  </ul>
</div>
<div class="span12">
  <%= link_to "Quiero ofertar un curso", contacto_path, class: "btn btn-large btn-primary" %>
</div>
