<div class="sixteen columns alpha omega">
	<header>
		<h1 class="headofpage">Acerca de</h1>
		</div>
	<div class="clear"></div>
</div>

<div class=" container contentwrapper withoutpbg preloader_container ">
		
	
	<div class="about">
		<h1 class="headofpage">¿Por qué kaleydoscopio?</h1>
			<p>Si bien el nombre proviene de la palabra original Caleidoscopio y físicamente es un tubo donde mediante tres espejos y láminas traslúcidas se forman objetos diversos en colores y formas, nosotros lo llevamos a otro nivel.
			</p>
			
			<p>
			kaleydoscopio toma su inspiración de este increíble objeto para llevarlo a una experiencia. Nuestro objetivo es que cada vez que entres a nuestra Página Web, Facebook y Twitter puedas encontrar diferentes clases, cursos y experiencias que te hagan ver la vida de diferente forma.
			</p>
			
			<p>
			Nuestro logotipo esta compuesto de dos partes, nuestro nombre - kaleydoscopio - y una imagen la cual llamamos el "arbolito". Ésta representa el árbol de la sabiduría visto a través de este increíble objeto.
			</p>
	</div>
		
	<div class="about">
		<h1 class="headofpage">¿Qué hacemos en kaleydoscopio?</h1>
			<p>Nuestro servicio tiene como objetivo que cualquier persona pueda compartir su talento con la gente de su comunidad. Nosotros nos dedicamos a encontrar gente interesante para después organizar, publicar y promover la clase con más personas. Los alumnos revisan las clases que les interesan y a través de nuestra página compran su boleto para poder asistir.
			</p>
			
	</div>
	
<div class="about">
	<h1 class="headofpage">¿Quiénes trabajamos en kaleydoscopio?</h1>
				<div style=" width: 414px;">
					<div class="smallproflinks">
					<h5>Mike Ramírez</h5>
					<a class="twitter_link tiptip" href="https://twitter.com/#!/mikermqz"></a>
					<a class="LinkedIn_link tiptip" href="http://mx.linkedin.com/in/miguelrmqz"></a>
					<h5>Hugo Ramírez</h5>
					<a class="twitter_link tiptip" href="https://twitter.com/#!/hugormzo"></a>
									</div>
				</div>
</div>

