<div class="container  contactpage">
	<div class="espera">
		<h1 class="headofpage">Se ha producido un error</h1>
		<h2><br/>
		<P>&nbsp;</P>
		<form name="f1" action="https://mexico.dineromail.com/Vender/Consulta_IPN.asp">
			<textarea name="data" style="width:450px;height:300px;">
			<?xml version="1.0" encoding="ISO-8859-1"?>
<NOTIFICACION><NROCTA>1048078</NROCTA><TIPONOTIFICACION>1</TIPONOTIFICACION><OPERACIONES><OPERACION><TIPO>1</TIPO><ID>L_pKkZHTaPCDkTrlO0rn</ID></OPERACION></OPERACIONES></NOTIFICACION>
			</textarea>
			<p></p>
			<input type="submit" value="Enviar">
			</form>


</h2>
	</div>
		<div class="clear"></div>
</div>
