<div class="container">     
<div class="center hero-unit">
  <h1>Terminos y Politicas</h1>
  <h2>
    terminos y politicas de Kaleydoscopio
    <a href="#">Home page</a>
    version de Desarrollo
  </h2>
</div>
