



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container  contactpage">
	<div class="espera">
      <h1 class="headofpage">Su transacción se a realizado exitosamente</h1>
      <div class="msg">Si seleccionaste OXXO, 7-Eleven o depósito bancario, tu pago queda pendiente y recibirás una notificación de éxito en cuanto sea completado.</div>
	</div>

	<ul class="share_container clearfix" width="400px">
		<li>
			<div class="fb-like"  data-font="arial" data-show-faces="true" data-width="100" data-layout="button_count" data-send="false" ></div>
		</li>
		<li>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= curso_url(@course) %>"  data-text="Acabo de comprar un clase en @kaleydoscopio_, les comparto la liga: " data-lang="es" data-count="none">Twittear</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</li>
	</ul>
</div>


