
<footer class="container block_shadow white_container footer marg_block relative">
  <div class="four columns pt10">
    <div class="logoarea">
      <%= image_tag "posttypes/footer.png", class: "footerlogoimg greyscale", alt: "Clases de fotografia" %>

    </div>
    <div class="copyarea">
      &copy; Copyright 2012 claseteca.<br>
      <%= link_to "Privacidad", privacidad_path %> |
      <%= link_to "Términos", terminos_path %>
    </div>
  </div>
  <div class="seven columns addresscont">
    <div class='contacts_address direccion'>Ave. Losoles 200 Col. Residencial San Agustín. SPGG, NL</div><div class='fl publicphone publicinfocont'>contacto.claseteca</div><div class='fl publicmail publicinfocont'><a href='mailto:clases@claseteca.com'>hola@claseteca.com</a></div>	</div>
  <div class="five columns omega socsm_mcont">

    <div class="socsm_cont">
      <ul>

        <li><a title='Twitter' href='http://twitter.com/#!/Claseteca' class='socsmthis soc_tw tiptip'></a></li<li><a title='Facebook' href='http://www.facebook.com/Claseteca ' class='socsmthis soc_fb tiptip'></a></li>
        </ul>

      </div>

    </div>
    <div class="display_more"></div>
  </footer>
