
<footer class="container block_shadow white_container footer marg_block relative">
	<div class="four columns pt10">
		<div class="logoarea">
			<%= image_tag "kaleydoscopio_icon.png", class: "footerlogoimg greyscale", alt: "Clases de fotografia" %>
		</div>
		<div class="copyarea">
			&copy; Copyright 2012 kaleydoscopio.<br>
			<%= link_to "Privacidad", privacidad_path %> |
			<%= link_to "Términos", terminos_path %> 
		</div>
	</div>
	<div class="seven columns addresscont">
		<div class='contacts_address direccion'>Ave. Losoles 200 Col. Residencial San Agustín. SPGG, NL</div><div class='fl publicphone publicinfocont'>contacto.kaleydoscopio</div><div class='fl publicmail publicinfocont'><a href='mailto:clases@kaleydoscopio.com'>clases@kaleydoscopio.com</a></div>	</div>
	<div class="five columns omega socsm_mcont">
		
		<div class="socsm_cont">	
			<ul>
			
			<li><a title='Twitter' href='http://twitter.com/#!/kaleydoscopio_' class='socsmthis soc_tw tiptip'></a></li<li><a title='Facebook' href='http://www.facebook.com/kaleydoscopiomx ' class='socsmthis soc_fb tiptip'></a></li>
			</ul>
			
		</div>
		
	</div>
	<div class="display_more"></div>
</footer>
