<header>
	<h1 class="headofpage">Clases Disponibles</h1>
</header>
<div class='cpt_sort'>
	<div class='fl'>
		Sort by:
	</div>
	<ul class='cpt_filter' id='filter'>
		<li class="act">
			<a href="#">Todo</a>
		</li>
		<li>
			<a href="#" title="View all post filed under Collage">Arte</a>
		</li>
		<li>
			<a href="#" title="View all post filed under Design">Ciencia</a>
		</li>
  	<li>
			<a href="#" title="View all post filed under Illustration">Deporte</a>
		</li>
	</ul>
	<div class='clear'></div>
</div>
<div class='clear'></div>

